In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#导入数据
Train_data = pd.read_csv('./used_car_train_20200313.csv', sep=' ')
Test_data = pd.read_csv('./used_car_testB_20200421.csv', sep=' ')

In [3]:
# 合并方便后面的操作
df = pd.concat([Train_data, Test_data], ignore_index=True)

In [4]:
df.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,0,736,20040402,30.0,6,1.0,0.0,0.0,60,12.5,...,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,1,2262,20030301,40.0,1,2.0,0.0,0.0,0,15.0,...,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,2,14874,20040403,115.0,15,1.0,0.0,0.0,163,12.5,...,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,3,71865,19960908,109.0,10,0.0,0.0,1.0,193,15.0,...,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,4,111080,20120103,110.0,5,1.0,0.0,0.0,68,5.0,...,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

In [5]:
#'name'有部分重复值，做一个简单统计
df['name_count'] = df.groupby(['name'])['SaleID'].transform('count')
del df['name']

In [6]:
#对'price'做对数变换
df['price'] = np.log1p(df['price'])

In [7]:
#用众数填充缺失值
df['fuelType'] = df['fuelType'].fillna(0)
df['gearbox'] = df['gearbox'].fillna(0)
df['bodyType'] = df['bodyType'].fillna(0)
df['model'] = df['model'].fillna(0)

In [8]:
#处理异常值
df['power'] = df['power'].map(lambda x: 600 if x>600 else x)#赛题限定power<=600
df['notRepairedDamage'] = df['notRepairedDamage'].astype('str').apply(lambda x: x if x != '-' else None).astype('float32')

In [9]:
# 对可分类的连续特征进行分桶，kilometer是已经分桶了
bin = [i*10 for i in range(31)]
df['power_bin'] = pd.cut(df['power'], bin, labels=False)

bin = [i*10 for i in range(24)]
df['model_bin'] = pd.cut(df['model'], bin, labels=False)

In [10]:
#时间提取出年，月，日和使用时间
from datetime import datetime
def date_process(x):
    year = int(str(x)[:4])
    month = int(str(x)[4:6])
    day = int(str(x)[6:8])

    if month < 1:
        month = 1

    date = datetime(year, month, day)
    return date
df['regDate']

0         20040402
1         20030301
2         20040403
3         19960908
4         20120103
            ...
199995    20041005
199996    20130409
199997    20041211
199998    20020702
199999    20090708
Name: regDate, Length: 200000, dtype: int64

In [11]:
df['regDate'] = df['regDate'].apply(date_process)

In [12]:
df['regDate']

0        2004-04-02
1        2003-03-01
2        2004-04-03
3        1996-09-08
4        2012-01-03
            ...
199995   2004-10-05
199996   2013-04-09
199997   2004-12-11
199998   2002-07-02
199999   2009-07-08
Name: regDate, Length: 200000, dtype: datetime64[ns]

In [13]:
df['creatDate'] = df['creatDate'].apply(date_process)

In [14]:
df['regDate_year'] = df['regDate'].dt.year
df['regDate_month'] = df['regDate'].dt.month
df['regDate_day'] = df['regDate'].dt.day
df['creatDate_year'] = df['creatDate'].dt.year
df['creatDate_month'] = df['creatDate'].dt.month
df['creatDate_day'] = df['creatDate'].dt.day

In [15]:
df['time_user']=(df['creatDate_year']-df['regDate_year'])*365+(df['creatDate_month']-df['regDate_month'])*30+(df['creatDate_day']-df['regDate_day'])

In [16]:
df['time_user']

0         4382
1         4753
2         4379
3         7124
4         1530
          ...
199995    4174
199996    1079
199997    4115
199998    5015
199999    2458
Name: time_user, Length: 200000, dtype: int64

In [17]:
#类别特征对价格的统计最大，最小，平均值等等
cat_cols = ['brand','model','kilometer','fuelType','bodyType']
for col in cat_cols:
    t = Train_data.groupby(col,as_index=False)['price'].agg(
        {col+'_count':'count',col+'_price_max':'max',col+'_price_median':'median',
         col+'_price_min':'min',col+'_price_sum':'sum',col+'_price_std':'std',col+'_price_mean':'mean'})
    df = pd.merge(df,t,on=col,how='left')

In [18]:
df.head()

,SaleID,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,...,fuelType_price_sum,fuelType_price_std,fuelType_price_mean,bodyType_count,bodyType_price_max,bodyType_price_median,bodyType_price_min,bodyType_price_sum,bodyType_price_std,bodyType_price_mean
0,0,2004-04-02,30.0,6,1.0,0.0,0.0,60,12.5,0.0,...,440406816,6922.769287,4804.99712,35272,99999,1600,12,98389060,3158.898609,2789.438081
1,1,2003-03-01,40.0,1,2.0,0.0,0.0,0,15.0,NaN,...,440406816,6922.769287,4804.99712,30324,69900,3500,15,176505661,6326.130000,5820.658917
2,2,2004-04-03,115.0,15,1.0,0.0,0.0,163,12.5,0.0,...,440406816,6922.769287,4804.99712,35272,99999,1600,12,98389060,3158.898609,2789.438081
3,3,1996-09-08,109.0,10,0.0,0.0,1.0,193,15.0,0.0,...,440406816,6922.769287,4804.99712,41420,98000,3480,13,249475348,7030.894454,6023.064896
4,4,2012-01-03,110.0,5,1.0,0.0,0.0,68,5.0,0.0,...,440406816,6922.769287,4804.99712,35272,99999,1600,12,98389060,3158.898609,2789.438081

In [19]:
#行驶路程与功率统计
kk = ['kilometer','power']
t1 = Train_data.groupby(kk[0],as_index=False)[kk[1]].agg(
        {kk[0]+'_'+kk[1]+'_count':'count',kk[0]+'_'+kk[1]+'_max':'max',kk[0]+'_'+kk[1]+'_median':'median',
         kk[0]+'_'+kk[1]+'_min':'min',kk[0]+'_'+kk[1]+'_sum':'sum',kk[0]+'_'+kk[1]+'_std':'std',kk[0]+'_'+kk[1]+'_mean':'mean'})
df = pd.merge(df,t1,on=kk[0],how='left')

In [20]:
t

,bodyType,bodyType_count,bodyType_price_max,bodyType_price_median,bodyType_price_min,bodyType_price_sum,bodyType_price_std,bodyType_price_mean
0,0.0,41420,98000,3480,13,249475348,7030.894454,6023.064896
1,1.0,35272,99999,1600,12,98389060,3158.898609,2789.438081
2,2.0,30324,69900,3500,15,176505661,6326.130000,5820.658917
3,3.0,13491,89000,4500,20,89222816,6761.547983,6613.506486
4,4.0,9609,99900,6300,39,93055287,10695.892670,9684.180144
5,5.0,7607,99999,5500,20,78306162,12388.087242,10293.961088
6,6.0,6482,99999,10950,50,86344261,10757.102137,13320.620333
7,7.0,1289,99990,2490,40,5197847,5567.475952,4032.464701

In [25]:
df.info()
#划分训练数据和测试数据

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 199999
Data columns (total 82 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   SaleID                  200000 non-null  int64
 1   regDate                 200000 non-null  datetime64[ns]
 2   model                   200000 non-null  float64
 3   brand                   200000 non-null  int64
 4   bodyType                200000 non-null  float64
 5   fuelType                200000 non-null  float64
 6   gearbox                 200000 non-null  float64
 7   power                   200000 non-null  int64
 8   kilometer               200000 non-null  float64
 9   notRepairedDamage       167607 non-null  float32
 10  regionCode              200000 non-null  int64
 11  seller                  200000 non-null  int64
 12  offerType               200000 non-null  int64
 13  creatDate               200000 non-null  datetime64[ns]
 14  price                   150000 non-null  float64
 15  v_0                     200000 non-null  float64
 16  v_1                     200000 non-null  float64
 17  v_2                     200000 non-null  float64
 18  v_3                     200000 non-null  float64
 19  v_4                     200000 non-null  float64
 20  v_5                     200000 non-null  float64
 21  v_6                     200000 non-null  float64
 22  v_7                     200000 non-null  float64
 23  v_8                     200000 non-null  float64
 24  v_9                     200000 non-null  float64
 25  v_10                    200000 non-null  float64
 26  v_11                    200000 non-null  float64
 27  v_12                    200000 non-null  float64
 28  v_13                    200000 non-null  float64
 29  v_14                    200000 non-null  float64
 30  name_count              200000 non-null  int64
 31  power_bin               178911 non-null  float64
 32  model_bin               184191 non-null  float64
 33  regDate_year            200000 non-null  int64
 34  regDate_month           200000 non-null  int64
 35  regDate_day             200000 non-null  int64
 36  creatDate_year          200000 non-null  int64
 37  creatDate_month         200000 non-null  int64
 38  creatDate_day           200000 non-null  int64
 39  time_user               200000 non-null  int64
 40  brand_count             200000 non-null  int64
 41  brand_price_max         200000 non-null  int64
 42  brand_price_median      200000 non-null  float64
 43  brand_price_min         200000 non-null  int64
 44  brand_price_sum         200000 non-null  int64
 45  brand_price_std         200000 non-null  float64
 46  brand_price_mean        200000 non-null  float64
 47  model_count             200000 non-null  int64
 48  model_price_max         200000 non-null  int64
 49  model_price_median      200000 non-null  float64
 50  model_price_min         200000 non-null  int64
 51  model_price_sum         200000 non-null  int64
 52  model_price_std         199999 non-null  float64
 53  model_price_mean        200000 non-null  float64
 54  kilometer_count         200000 non-null  int64
 55  kilometer_price_max     200000 non-null  int64
 56  kilometer_price_median  200000 non-null  float64
 57  kilometer_price_min     200000 non-null  int64
 58  kilometer_price_sum     200000 non-null  int64
 59  kilometer_price_std     200000 non-null  float64
 60  kilometer_price_mean    200000 non-null  float64
 61  fuelType_count          200000 non-null  int64
 62  fuelType_price_max      200000 non-null  int64
 63  fuelType_price_median   200000 non-null  float64
 64  fuelType_price_min      200000 non-null  int64
 65  fuelType_price_sum      200000 non-null  int64
 66  fuelType_price_std      200000 non-null  float64
 67  fuelType_price_mean     200000 non-null  float64
 68  bodyType_count          200000 non-null  int64
 69  bodyType_price_max      200000 non-null  int64
 70  bodyType_price_median   200000 non-null  int64
 71  bodyType_price_min      200000 non-null  int64
 72  bodyType_price_sum      200000 non-null  int64
 73  bodyType_price_std      200000 non-null  float64
 74  bodyType_price_mean     200000 non-null  float64
 75  kilometer_power_count   200000 non-null  int64
 76  kilometer_power_max     200000 non-null  int64
 77  kilometer_power_median  200000 non-null  float64
 78  kilometer_power_min     200000 non-null  int64
 79  kilometer_power_sum     200000 non-null  int64
 80  kilometer_power_std     200000 non-null  float64
 81  kilometer_power_mean    200000 non-null  float64
dtypes: datetime64[ns](2), float32(1), float64(40), int64(39)
memory usage: 125.9 MB

In [30]:
num_cols = [0,3,8,12]
for i in num_cols:
    for j in num_cols:
        df['new'+str(i)+'*'+str(j)]=df['v_'+str(i)]*df['v_'+str(j)]

In [45]:
for i in num_cols:
    for j in num_cols:
        df['new'+str(i)+'+'+str(j)]=df['v_'+str(i)]+df['v_'+str(j)]

for i in num_cols:
    for j in num_cols:
        df['new'+str(i)+'-'+str(j)]=df['v_'+str(i)]-df['v_'+str(j)]

In [47]:
df['time_user'] = np.log1p(df['time_user'])
for i in range(15):
    df['new'+str(i)+'*day']=df['v_'+str(i)] * df['time_user']

In [48]:
#划分训练数据和测试数据
df1 = df.copy()
test = df1[df1['price'].isnull()]
X_train = df1[df1['price'].notnull()].drop(['price','regDate','creatDate','SaleID','regionCode','regDate_month','regDate_day','creatDate_year','creatDate_month','creatDate_day'],axis=1)
Y_train = df1[df1['price'].notnull()]['price']
X_test = df1[df1['price'].isnull()].drop(['price','regDate','creatDate','SaleID','regionCode','regDate_month','regDate_day','creatDate_year','creatDate_month','creatDate_day'],axis=1)

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import KFold
from lightgbm.sklearn import LGBMRegressor
cols = list(X_train)
oof = np.zeros(X_train.shape[0])
sub = test[['SaleID']].copy()
sub['price'] = 0
feat_df = pd.DataFrame({'feat': cols, 'imp': 0})
skf = KFold(n_splits=5, shuffle=True, random_state=2020)

clf = LGBMRegressor(
    n_estimators=10000,
    learning_rate=0.02,
    boosting_type= 'gbdt',
    objective = 'regression_l1',
    max_depth = -1,
    num_leaves=31,
    min_child_samples = 20,
    feature_fraction = 0.8,
    bagging_freq = 1,
    bagging_fraction = 0.8,
    lambda_l2 = 2,
    random_state=2020,
    metric='mae'
)

mae = 0
for i, (trn_idx, val_idx) in enumerate(skf.split(X_train, Y_train)):
    print('--------------------- {} fold ---------------------'.format(i+1))
    trn_x, trn_y = X_train.iloc[trn_idx].reset_index(drop=True), Y_train[trn_idx]
    val_x, val_y = X_train.iloc[val_idx].reset_index(drop=True), Y_train[val_idx]
    clf.fit(
        trn_x, trn_y,
        eval_set=[(val_x, val_y)],
        eval_metric='mae',
        early_stopping_rounds=300,
        verbose=300
    )
    
    sub['price'] += np.expm1(clf.predict(X_test)) / skf.n_splits
    oof[val_idx] = clf.predict(val_x)
    print('val mae:', mean_absolute_error(np.expm1(val_y), np.expm1(oof[val_idx])))
    mae += mean_absolute_error(np.expm1(val_y), np.expm1(oof[val_idx]))/skf.n_splits

print('cv mae:', mae)
#生成提交文件
sub.to_csv('sumbit3.csv',index=False)

--------------------- 1 fold ---------------------
[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] lambda_l2 is set=2, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
Training until validation scores don't improve for 300 rounds
[300]	valid_0's l1: 0.151772
[600]	valid_0's l1: 0.131687
[900]	valid_0's l1: 0.125183
[1200]	valid_0's l1: 0.121854
[1500]	valid_0's l1: 0.119649
[1800]	valid_0's l1: 0.117979
[2100]	valid_0's l1: 0.116752
[2400]	valid_0's l1: 0.115821
[2700]	valid_0's l1: 0.11495
[3000]	valid_0's l1: 0.114282
[3300]	valid_0's l1: 0.113754
[3600]	valid_0's l1: 0.113242
[3900]	valid_0's l1: 0.112817
[4200]	valid_0's l1: 0.112504
[4500]	valid_0's l1: 0.112181
[4800]	valid_0's l1: 0.111893
[5100]	valid_0's l1: 0.111633
[5400]	valid_0's l1: 0.111388
[5700]	valid_0's l1: 0.111177
[6000]	valid_0's l1: 0.110957
[6300]	valid_0's l1: 0.110753
[6600]	valid_0's l1: 0.110579
[6900]	valid_0's l1: 0.110426
[7200]	valid_0's l1: 0.110295
[7500]	valid_0's l1: 0.110168
[7800]	valid_0's l1: 0.110043
[8100]	valid_0's l1: 0.10994
[8400]	valid_0's l1: 0.10982
[8700]	valid_0's l1: 0.109731
[9000]	valid_0's l1: 0.109643
[9300]	valid_0's l1: 0.109551
[9600]	valid_0's l1: 0.109481
[9900]	valid_0's l1: 0.109379
Did not meet early stopping. Best iteration is:
[9999]	valid_0's l1: 0.109358
val mae: 462.21685650623874
--------------------- 2 fold ---------------------
[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] lambda_l2 is set=2, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
Training until validation scores don't improve for 300 rounds
[300]	valid_0's l1: 0.15113
[600]	valid_0's l1: 0.130872
[900]	valid_0's l1: 0.124198
[1200]	valid_0's l1: 0.120552
[1500]	valid_0's l1: 0.118322
[1800]	valid_0's l1: 0.116723
[2100]	valid_0's l1: 0.115518
[2400]	valid_0's l1: 0.114534
[2700]	valid_0's l1: 0.113787
[3000]	valid_0's l1: 0.113102
[3300]	valid_0's l1: 0.112569
[3600]	valid_0's l1: 0.112086
[3900]	valid_0's l1: 0.111633
[4200]	valid_0's l1: 0.111269
[4500]	valid_0's l1: 0.110945
[4800]	valid_0's l1: 0.110638
[5100]	valid_0's l1: 0.110407
[5400]	valid_0's l1: 0.110157
[5700]	valid_0's l1: 0.109949
[6000]	valid_0's l1: 0.109781
[6300]	valid_0's l1: 0.109597
[6600]	valid_0's l1: 0.109443
[6900]	valid_0's l1: 0.109286
[7200]	valid_0's l1: 0.109142
[7500]	valid_0's l1: 0.109008
[7800]	valid_0's l1: 0.108886
[8100]	valid_0's l1: 0.10876
[8400]	valid_0's l1: 0.108645
[8700]	valid_0's l1: 0.108555
[9000]	valid_0's l1: 0.108442
[9300]	valid_0's l1: 0.108357
[9600]	valid_0's l1: 0.108259
[9900]	valid_0's l1: 0.108176
Did not meet early stopping. Best iteration is:
[10000]	valid_0's l1: 0.108147
val mae: 453.193641064147
--------------------- 3 fold ---------------------
[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] lambda_l2 is set=2, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
Training until validation scores don't improve for 300 rounds
[300]	valid_0's l1: 0.149474
[600]	valid_0's l1: 0.130262
[900]	valid_0's l1: 0.123776
[1200]	valid_0's l1: 0.120362
[1500]	valid_0's l1: 0.118145
[1800]	valid_0's l1: 0.116571
[2100]	valid_0's l1: 0.115377
[2400]	valid_0's l1: 0.114395
[2700]	valid_0's l1: 0.113692
[3000]	valid_0's l1: 0.113078
[3300]	valid_0's l1: 0.112595
[3600]	valid_0's l1: 0.112095
[3900]	valid_0's l1: 0.111672
[4200]	valid_0's l1: 0.111342
[4500]	valid_0's l1: 0.11104
[4800]	valid_0's l1: 0.110766
[5100]	valid_0's l1: 0.110498
[5400]	valid_0's l1: 0.110288
[5700]	valid_0's l1: 0.110071
[6000]	valid_0's l1: 0.109898
[6300]	valid_0's l1: 0.109676
[6600]	valid_0's l1: 0.109536
[6900]	valid_0's l1: 0.109392
[7200]	valid_0's l1: 0.109265
[7500]	valid_0's l1: 0.109126
[7800]	valid_0's l1: 0.108989
[8100]	valid_0's l1: 0.108864
[8400]	valid_0's l1: 0.108719
[8700]	valid_0's l1: 0.108614
[9000]	valid_0's l1: 0.108535
[9300]	valid_0's l1: 0.108447
[9600]	valid_0's l1: 0.108364
[9900]	valid_0's l1: 0.108287
Did not meet early stopping. Best iteration is:
[10000]	valid_0's l1: 0.108256
val mae: 464.73196327262485
--------------------- 4 fold ---------------------
[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] lambda_l2 is set=2, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
Training until validation scores don't improve for 300 rounds
[300]	valid_0's l1: 0.150107
[600]	valid_0's l1: 0.130714
[900]	valid_0's l1: 0.124442
[1200]	valid_0's l1: 0.120878
[1500]	valid_0's l1: 0.118613
[1800]	valid_0's l1: 0.117009
[2100]	valid_0's l1: 0.11581
[2400]	valid_0's l1: 0.114812
[2700]	valid_0's l1: 0.113943
[3000]	valid_0's l1: 0.113309
[3300]	valid_0's l1: 0.112759
[3600]	valid_0's l1: 0.112262
[3900]	valid_0's l1: 0.111844
[4200]	valid_0's l1: 0.111459
[4500]	valid_0's l1: 0.111124
[4800]	valid_0's l1: 0.110812
[5100]	valid_0's l1: 0.110531
[5400]	valid_0's l1: 0.110265
[5700]	valid_0's l1: 0.110053
[6000]	valid_0's l1: 0.109869
[6300]	valid_0's l1: 0.109652
[6600]	valid_0's l1: 0.10946
[6900]	valid_0's l1: 0.109313
[7200]	valid_0's l1: 0.109138
[7500]	valid_0's l1: 0.108996
[7800]	valid_0's l1: 0.108885
[8100]	valid_0's l1: 0.108743
[8400]	valid_0's l1: 0.108613
[8700]	valid_0's l1: 0.108487
[9000]	valid_0's l1: 0.108379
[9300]	valid_0's l1: 0.108282
[9600]	valid_0's l1: 0.108168
[9900]	valid_0's l1: 0.108079
Did not meet early stopping. Best iteration is:
[9995]	valid_0's l1: 0.108049
val mae: 463.3143156739725
--------------------- 5 fold ---------------------
[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] lambda_l2 is set=2, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
Training until validation scores don't improve for 300 rounds
[300]	valid_0's l1: 0.150021
[600]	valid_0's l1: 0.130227
[900]	valid_0's l1: 0.123674
[1200]	valid_0's l1: 0.120159
[1500]	valid_0's l1: 0.118074
[1800]	valid_0's l1: 0.116482
[2100]	valid_0's l1: 0.115332
[2400]	valid_0's l1: 0.114307
[2700]	valid_0's l1: 0.11347
[3000]	valid_0's l1: 0.112851
[3300]	valid_0's l1: 0.112307
[3600]	valid_0's l1: 0.111781
[3900]	valid_0's l1: 0.111376
[4200]	valid_0's l1: 0.110971
[4500]	valid_0's l1: 0.110649
[4800]	valid_0's l1: 0.11033
[5100]	valid_0's l1: 0.110082
[5400]	valid_0's l1: 0.109797
[5700]	valid_0's l1: 0.109571
[6000]	valid_0's l1: 0.109361
[6300]	valid_0's l1: 0.109183
[6600]	valid_0's l1: 0.109028
[6900]	valid_0's l1: 0.108839
[7200]	valid_0's l1: 0.108671
[7500]	valid_0's l1: 0.108566
[7800]	valid_0's l1: 0.108425
[8100]	valid_0's l1: 0.108287
[8400]	valid_0's l1: 0.10815
[8700]	valid_0's l1: 0.108031
[9000]	valid_0's l1: 0.107923
[9300]	valid_0's l1: 0.107808

In [58]:
scores_train = []
scores = []

In [55]:
clf

LGBMRegressor(bagging_fraction=0.8, bagging_freq=1, feature_fraction=0.8,
              lambda_l2=2, learning_rate=0.02, metric='mae', n_estimators=10000,
              objective='regression_l1', random_state=2020)